@media (max-width: 1440px) and (min-width: 1140px) {

    .parent-package .max-400 {
        width: 20%;
    }
    .location-list .locaton-items {
        font-size: 16px;
    }

    .parent-package .max-800 {
        width: 80%;
    }

    .feature-list ul li span {
        width: 173px;

    }
}
@media(max-width:1120px){
    .menus .nav-link {
        padding: 10px;
    }
    .image-section img {
        height: 100%;
    }
}


@media (max-width: 1024px) and (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 95%;
    }

    .desti-info p {
        text-align: justify;
    }

    .national-list-bx > div {
        width: calc(50% - 10px);
    }

    .banner-sections{
        margin:15px  auto;
        background-size: cover;
    }
    .desti-img {
        height: 420px!important;
    }

    .banner-section {
        background-image: url(../images/destination/mob-banner.webp) !important;
        height: 525px;
        background-size: cover;
        border-radius: 10px;
    }

    .ab-page .row > div{
        width: 100%;;
    }

    .ab-page .title {
        font-size: 60px;
    }
    .ab-page .subtitle {

        font-size: 60px;

    }

    .ab-info{
        margin-top: 30px;;
    }

    .rtcu-section .row > div{
        width:50%;
        margin-bottom: 20px;
    }

    .ab-page .content {
        font-size: 20px;
        line-height: 1.6;
        color: #7F7F7F;
        text-align: justify;
    }

    .helping-sections .w-100 > div{
        width:100%;
    }
    .content-section p {
        font-size: 20px;
    
    }

    .how-we-work h1 {
        font-size: 40px;
    }

    .right-content-bx1 h2 {
        font-size: 25px;
    }
    .ab-hww .main-btn1 {
     line-height: 2.5;
    }

    .heling-heignt {
        margin: 35px auto;
        width: 100%;
    }
    .mob-canvas .offcanvas-header {
        background-color: #EE4C49;
        border-bottom: 1px solid #ddd;
    }
    .desk-logo img {
        width: 170px;
    }

    .footer .pl-50 {
        padding-left: 15px;
    
    }
        .mob-canvas {
            width: 70%;
        }
            .mob-canvas .offcanvas-header {
            background-color: #EE4C49;
            border-bottom: 1px solid #ddd;
        }
            .mob-canvas .p-logo {
            margin-bottom: 0 !important;
        }
    
        .desk-logo img {
            width: 170px;
        }
            .mob-canvas .btn-close {
            filter: brightness(0) invert(1);
            padding: 9px;
            transform: scale(.9);
        }
            .mob-menus ul {
            display: block;
            padding: 0;
        }
            .mob-menus ul li a {
            padding-left: 0;
            color: #373737;
            font-weight: bold;
            font-size: 13px;
        }
    
            .mob-social-mediabx ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            padding: 0;
            position: absolute;
            bottom: -21px;
            right: 0;
            left: 0;
            background: #232323;
            height: 58px;
            align-items: center;
        }
    
        .mob-social-mediabx ul li i {
            font-size: 16px;
            color: white;
            border: 1px solid #ddd;
            border-radius: 50px;
            padding: 9px;
            transition: .7s;
        }

        .c-right-bx h2 {
            font-size: 28px;
        }

        .c-leftbx h2 {
            font-size: 30px;
        }

        .contact-form{
            padding:20px!important;
        }
        .c-parent-bx{
            flex-wrap: wrap;
        }

        .c-parent-bx > div {
            width: 100%;
        }

        .national-inter-section .banner-sections.desktop-none{
            display: none;
        }

        .banner-content {
            max-width: 600px;
            padding-left: 15px;
     
        }

        .pb-80 {
            padding-bottom: 40px;
        }

        .need-form-bx h2 {
            font-size: 32px;
        }

        .need-help-section {
            padding-bottom: 40px;
            padding-top: 40px;
        }

        .blog-about-con h1 {
            font-size: 20px;
        }

        .blogs-about .content-section p {
            font-size: 18px;
            color: #575757;
        }

        .blogs-info h2 {
            font-size: 19px;
            margin-top: 15px;
        }

        .mob-menus ul li a {
            font-size: 20px;
        }
        .mob-dropdown .accordion-button {
            font-size: 20px;
        }

        .mob-menus ul li a {
            font-size: 20px;
            padding: 25px 0px;
        }

        .mob-dropdown .accordion-button {
            padding: 20px 0;
        }


        .mob-canvas .offcanvas-header {
            height: 100px;
        }

        .desk-logo img {
            width: 280px;
        }
        .mob-canvas .btn-close {
            padding: 14px;
            transform: scale(1.4);
        }

        #home .desti-img {
            height: 340px !important;
        }

        .parent-package .content-section h1 {
            font-size: 35px;
        }

        .parent-package .max-800 {
            width: 100%;
        }

        .table-of-row.tour-package {
            display: flex
        ;
            justify-content: space-between;
        }

        .feature-media {
            width: 50%;
        }

        .map-section .heading {
            font-size: 35px;
            color: black;
            text-align: center;
        }

    
    .max-400 h2 {

        font-size: 32px;


    }

    .table-contents a {
        border: 1px solid #C2BEBE;
        color: #575757;
        font-size: 16px;
        background-color: #F9F9F9;
        border-radius: 10px;
        margin: 5px 0px;
        height: 42px;
        display: flex
    ;
        justify-content: center;
        align-items: center;
        width: 239px;
        padding: 19px 0px;
    }
        
.max-400 {
    width: 50%;
    margin-left: 10px;;
}
}

@media(max-width:980px){
    .mobile-none{
        display: none;
    }
    .desktop-none{
        display: block;
    }
    .burger-menu{
        display: flex;
        align-items: center;
    }

    .top-bar {
        background: transparent;
        backdrop-filter: unset;
    }

    .col-md-6.hero-contennt {
        width: 100%;
    }

    .fs-161 {
        font-size: 120px;
    }

    .fs-88 {
        font-size: 65px;
    }
    .form-section{
        display: none;
    }

    .hero-section {
        padding-bottom: 70px;
    }

    .how-we-work-container {
        padding-top: 40px;
        padding-bottom: 40px!important;
    }

    .counter-area > div{
        width:calc(25% - 10px);
    }

    .counter-title h3 {
        font-size: 25px;
        margin-left: 10px !important;
    }

    p.happy-title {
        font-size: 15px;
    }
    .counter-title img{
        width:20px;
    }
    .desti-img {
        height: 225px;
    }

    .batch-info h4 {
        font-size: 16px;
    }

    .desti-main {
        padding: 10px 10px 10px 10px;
    }

    .banner-section{
      background-image: url(../images/destination/mob-banner.webp)!important;
      height:525px;
    }
    .footer {
        padding: 0px 0;
    }
    .ptb-80 {
        padding-top: 50px;
        padding-bottom: 50px;
    
}

.mob-dropdown .accordion-button{
    padding: 10px 0;
    font-weight: bold;
    font-size: 13px;
    color: #373737;
    font-family: "Inter", sans-serif;
}


.mob-dropdown .accordion-button:not(.collapsed) {
    color: unset;
    background-color:unset;
    box-shadow: unset;
}

.mob-dropdown .accordion-button:not(.collapsed)::after {
    transform: rotate(-180deg);
    filter: brightness(0);
    width: 17px;
}


.mob-dropdown .accordion-button::after {
    background-size: 17px;
}

.mob-dropdown .accordion-button:focus {
    z-index: 3;
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}
.list-unstyled li{
    margin:10px 0px
}
.mob-menus ul.nav.nav-pills > li{
    border-bottom: 1px solid #ddd;
}

.mob-dropdown .accordion-body{
    padding-top: 0;;
}
.list-unstyled a{
    font-size: 12px!important;
}
.foot-img{
    width: 100%;
position: absolute;
bottom: 0;
right: 0;
}

.mob-menus .nav-link:focus, .nav-link:hover {
    color: unset;
}
}


@media(max-width:760px){

    .explore-row h2 {
    font-size: 20px;
    margin-bottom: 0;
}
    
    .stripe_items .feature-item {
    gap: 0;
    min-width: unset;
}

    .stripe_items .feature-text {
    font-size: 12px;
    margin-left: 5px;;
}

.stripe_items .feature-icons {
    width: 14px;
    height: 14px;
}

    .new-desti-card .location {
    margin-bottom: 5px;
    }
    .new-desti-card .header {
    margin-bottom: 10px;
}
    ul.amenities-icons li {
    margin-right: 7px;
}
    .amenities-icons{
        flex-wrap: wrap;
    }

    .new-desti-card .share-area .duration-badge {
    margin-right: 7px;
}
    .new-desti-card .price-section a {
    font-size: 11px;
    padding: 8px 10px;
}
    .new-desti-card .price-section .price-info .new-price {
    font-size: 16px;
}
    .new-desti-card .header h2 {
    font-size: 16px;
}

.new-desti-card .duration-badge {
    font-size: 10px;
}
    .mb-80 {
    margin-bottom: 40px;
}
	header{
	  justify-content: space-between!important;
	}
	.desk-logo img{
		width:150px;
	}
	.menus{
		display: none;
	}
	.waypng img {

    width: 100%;
}
.banner-section{
	flex-wrap: wrap;
}

.hero-contennt h2 {

    font-size: 20px;
    line-height: 5px;
}

.fs-161 {
    font-size: 77px;
}

.hero-contennt h1 {

    font-size: 42px;
    line-height: 55px;
    margin-bottom: 22px;
}

.hero-contennt p {
    font-size: 12px;
    color: white;
    margin-bottom: 44px;
}

.main-btn img {
    margin-left: 3px;
    width: 11px;
}
.main-btn {
    background-color: #EE4C49 !important;
    border-radius: 7px !important;
    font-weight: bold;
    color: white;
    font-size: 12px;
    padding: 13px 9px !important;
}
.form-row > div {
    width: 100%;
}
.form-row {
	flex-wrap: wrap;
}

.container-form {
   
    max-width: 300px;
    padding: 20px;
    margin: -109px auto 0 auto;
}

.form-row .form-control {
    height: 45px;
    border-radius: 8px !important;
}
.form-row > div .form-select {
    height: 45px;
    border-radius: 8px !important;
}

.container-form button {
    background-color: #EE4C49;
    color: #fff;
    padding: 7px 32px;
    border: none;
    font-weight: normal;
    font-size: 14px;
    border-radius: 7px;
    height: 45px;
    width: 100%;
    margin-bottom: 20px;
}
section.hero-section header {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.hero-section {
 
height: 70vh;
 
padding-bottom: 0px;
 
padding-top: 115px;
}
.how-we-work h1 {
    font-size: 32px;
    text-align: center;
}
.ptb-80 {
    padding-top: 40px;
    padding-bottom: 40px;
}
    .how-we-work .heading {
        font-size: 12px;
        margin: auto;
        display: flex;
        height: 25px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }
.how-we-work .para1 {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #667085;
    text-align: center;
}
    .main-btn1 {
        margin: 20px auto auto auto;
        line-height: 2.8;
        font-size: 15px;
        width: 170px;
        height: 40px;
    }
.right-list {
    padding-top: 20px;
}
.right-content-bx h2 {
    font-size: 23px;
}
.right-content-bx p {
    font-size: 12px;
}
.numbers > div {
    height: 45px;
    width: 45px;
    font-size: 22px;
  
}
.right-list:before {
    border: 1px dashed #66708580;
    left: 22px;
    height: 73%;
}



.heading {
    font-size: 28px;
    line-height: 1;
}

p.testi-para {
    font-size: 14px;
}
.quote-bx {
    right: -1px;
    top: -10px;
}

.r-name h3 {
    font-size: 16px;
}
.r-name p {
    font-size: 12px;

}
.feature-icon img {
    width: 30px;
}

.feature-icon {
    margin-bottom: 10px;
}
.feature-text {
    font-size: 8px;
}
    .rtcu-section .row > div {
        width: calc(50% - 5px) !important;
        padding: 5px;
    }
.feature-title {
    font-size: 12px;
}
.feature-card {
    padding: 15px;
    height: auto;
}
.feature-icon {
	font-size: unset;
}
h2.subtitle {
    font-size: 16px;
    margin-bottom: 5px;
}

.para {
    font-size: 18px;
    margin-bottom: 0;
}

.about-us-section .right-bx {
    padding: 15px;
}
.about-us-section .mySwiper2 {
    padding-top: 30px !important;
}
.shape {
    right: 14px;
}
/*
.destination-section .swiper{
    overflow: unset;
}
*/
.banner-section {

border-radius: 10px;

height: 300px;

width: 100%;

background-size: cover;
}
.badge {
    font-size: 18px;
    padding: 12px 32px;
    font-weight: 400;
    border-radius: 50px;
}
.banner-content h1 {
   
    line-height: 1;
}
.banner-section .ms-auto {
    margin: auto;
}

.content-section h1 {
    font-size: 27px;
        padding-bottom: 10px;

}

.helping-sections {
    padding-top: 50px !important;
}

.content-section p {
    font-size: 14px;
    color: #7F7F7F;
    text-align: center;
    margin-bottom: 20px!important;
}
.featur div span {
    font-size: 28px;
}
    .content-section p {
        font-size: 12px;
        color: #7F7F7F;
        text-align: center;
        margin-bottom: 20px !important;
    }

    .content-section .col-6 div p{
        font-size: 13px;
        color:#0A1F30!important;
        text-align: left;
    }
    .waypng{
        display: none;
    }
    .faq-sections .pt-80 {
    padding-top: 20px !important;
}
.accordion-bx .accordion-button {
    font-size: 18px;
    font-weight: 500;
}

.accordion-bx .accordion-body {

font-size: 14px;

color: #667085;
}
.cta-section1 .badge-custom {
    font-size: 10px;
    margin-bottom: 0px;
    height: 21px;
    width: 113px;
    line-height: 13px;
}

.cta-section1 .sub-heading {
    font-size: 12px;
    margin-top: 15px;
}
.cta-section1 .cta-bx {

    padding: 30px;
}
.cta-section1 .btn-custom {
    font-size: 12px;
    height: 34px;
    width: 144px;
}

.cta-section1 .main-heading {
    font-size: 34px;

}
.cta-section1 .cta-bx{
    height: auto;
}
.footer{
    padding:unset;
    padding-left: 15px;
    padding-right: 15px;
}
.footer .logo {
    margin-bottom: 0px;
}
.footer .pl-100 {
    padding-left: 15px;
    padding-top: 15px;
}

.footer .pl-50 {
    padding-left: 15px;

}
    .mob-canvas {
        width: 70%;
    }
        .mob-canvas .offcanvas-header {
        background-color: #EE4C49;
        border-bottom: 1px solid #ddd;
    }
        .mob-canvas .p-logo {
        margin-bottom: 0 !important;
    }

    .desk-logo img {
        width: 170px;
    }
        .mob-canvas .btn-close {
        filter: brightness(0) invert(1);
        padding: 9px;
        transform: scale(.9);
    }
        .mob-menus ul {
        display: block;
        padding: 0;
    }
        .mob-menus ul li a {
        padding-left: 0;
        color: #373737;
        font-weight: bold;
        font-size: 13px;
    }

        .mob-social-mediabx ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding: 0;
        position: absolute;
        bottom: -21px;
        right: 0;
        left: 0;
        background: #232323;
        height: 58px;
        align-items: center;
    }

    .mob-social-mediabx ul li i {
        font-size: 16px;
        color: white;
        border: 1px solid #ddd;
        border-radius: 50px;
        padding: 9px;
        transition: .7s;
    }
    .desk-logo{
        margin-bottom: 0!important;
    }
    .top-bar{
        top: 15px;
        padding: 10px;
    }
    .process-section .row{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between!important;
        padding: 5px;
    }
    .process-section .row > div{
        width: calc(25% - 10px);
        padding: 0;
    }
    .feature-title{
        font-weight: 400;
    }
    .counter-area{
        padding-top: 0;;
    }

    .counter-title h3 {
        font-size: 14px;
        margin-left: 3px !important;
    }
    .counter-title img {
        width: 15px;
    }

    p.happy-title {
        font-size: 8px;
        margin-bottom: 0;
    }
    .faci-ratings span {
        font-size: 12px;
        padding-left: 2px;
    }

    .faci-1 ul li {
        margin: 0px 7px;
    }
    .faci-1 ul li img {
        width: 18px;
    }

    .counter-area > div {
        width: calc(25% - 5px);
    }

    .desti-info h3 {
        font-size: 18px;
    }

  

    .testimonials .swiper-backface-hidden .swiper-slide {
        padding: 15px;
    }
    .rating-bx img {
        width: 130px;
    }
    .quote-bx img{
        width:30px;
    }

    p.testi-para {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .instagram-section .swiper{
        padding-top: 20px!important;
    }

    .instagram-section .swiper-slide video {
        width: 100%;
        height: 380px;
        pointer-events: none;
        border-radius: 10px;
        object-fit: cover;
    }
    #home  .banner-sections {
        background: #F5F5F5;
    }
    .pb-80 {
        padding-bottom: 40px;
    }
    .banner-content{
        padding-left: 10px;
    }
    .banner-content h1 {
        font-size: 60px;
    }
    .btn-primary1{
        font-size: 14px;
    }
    #home .mt-80{
        margin-top: 0;
    }
    .social-icons {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer .social-icons a{
        /* background-color: unset; */
    }
    /* .social-icons a i {
        font-size: 17px;
        height: 30px;
        width: 30px;
        background: #ee4c4e;
        padding: 20px;
    ;
    } */

    .popup-modal .modal-content {
        max-width: 320px;
        margin: auto;
    }


    /* ========================== Our Story Css ---------------------------------- */


    .ab-page .subtitle {
    font-size: 32px;
}

.ab-page .title {
  font-size: 32px;;
}
.fs-64 {
    font-size: 38px;
}
.about-contennt p {
    font-size: 14px;
    max-width: 100%;
}
.btn-primary {
    font-size: 14px;
}

.about-hero {
    background-image: url(../images/about-us/about-mobile.webp);
    width: 100%;
    /* height: 100vh; */
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 100px;
    background-position: center;
}
.pt-100 {
    padding-top: 40px;
}
.col-md-6.ab-info {
    padding-top: 40px;
}

.ab-info h3 {
    font-size: 22px;

}
.ab-page .content{
    font-size: 14px;;
}
.rtcu-section .feature-text{
    display: none;
}

.rtcu-section .feature-title {
    font-size: 13px;
    font-weight: 500 !important;
}
.heling-heignt {
    height: 194px;
    width: 100%;
    object-fit: cover;
}
.w-100 .flex-column{
    padding:0;
}
.featur > div{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.ab-hww {
    padding-top: 40px !important;
    padding-bottom: 40px !important;

}
.how-we-work .para1{
    display: none;;
}
.how-we-work  .main-btn1{
    display: none;
}
.col-md-6.how-we-work {
    padding-bottom: 40px;
}
.right-content-bx1 h2 {
    font-size: 22px;
}
.right-content-bx1 p {
    font-size: 12px;
}

.ab-hww .numbers1 > div {
    height: 50px;
    width: 50px;
  
    font-size: 20px;

}
.ab-hww .right-list1:before {

    left: 25px !important;
}
#home .testimonials{
    background-color: #EBEBEB !important;
    margin-top: 40px;
    margin-bottom: 40px;
}
#home {
    background: #f5f5f5;
}
.ab-page .highlight {
    font-size: 14px;
}

/* ============================================== Contact Mobile Banner ======================================= */

.contact-hero {
    background-image: url(../images/hero/contact-mobile.webp);
    width: 100%;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;
    background-position: center;
}

.contact-form-section .flex-wrap-bx{
 flex-wrap: wrap-reverse;
}
.c-right-bx h2 {
    font-size: 28px;
}
.c-right-bx p {
    color: #575757;
    font-size: 14px;
    margin-top: 15px;
}
.contact-form-section{
    background-color: unset;
}

.contact-info, .contact-form {
    background-color: #F5F5F5;
    padding: 30px 20px !important;
}

.c-leftbx h2 {
    font-size: 28px;
    font-family: 'Playfair Display';
}
.col-md-6.c-leftbx {
    padding-top: 30px;
}

.c-leftbx .contact-para {
    color: #575757;
    font-size: 14px;
    text-align: justify;;
}
.contact-info {
   
    padding: 8px 8px !important;
}
 .contact-form {
    background-color: #F5F5F5;
    padding: 30px 20px !important;
}
.contact-info p {
    font-size: 10px;
}
.contact-info h5 {
    font-size: 12px;
}
.contact-info i {
    font-size: 18px;
    height: 35px;
    width: 35px;
}
.ab-cta {
    background: unset;
}

/* ======================== Blogs css  -=========== */

.blogs-hero {
    background-image: url(../images/hero/blogs-mobile.webp);
    width: 100%;
    /* height: 100vh; */
    background-size: cover;
    padding-bottom: 70px;
    padding-top: 70px;
}

.blogs-hero .about-contennt p {
    font-size: 16px;
    margin-top: 10px;
}
.blogs-searchbx input {
    height: 36px;
    font-size: 14px;
    padding: 0px 10px;
}

.blogs-searchbx button {
    padding: 4px 10px;
    font-size: 12px;
    right: 10px;
    top: 13%;
}

.blogs-searchbx button img {
    margin-right: 5px;
    width: 13px;
}

.blogs-about .main-heading-blogs {
    font-size: 32px;
}

.blogs-about .content-section p {
    font-size: 14px;
    margin-top: 0 !important;
    text-align: left;
}
.blog-imgs{
    padding: 0;
}
.blog-about-con {
    padding-top: 20px !important;
}
.blog-about-con .content-section h1 {
    font-size: 20px;
}
.blogs-title {
    font-size: 32px;
}

.blogs-list-bx > div {
    width: 100%;
}
.blogs-info h2 {
    font-size: 20px;
}
.blogs-info p {
    font-size: 14px;
}
.blogs-list-bx > div {
    margin-bottom: 30px !important;
}
.blogs-list-bx {
  
    padding-top: 20px !important;
}
.blogs-list-section .mt-44 {
    margin-top: 0px;
}
.footer-pagination{
    flex-wrap: wrap;
}
.footer-pagination nav{
    display: none;;
}

.privacy-policy h2{
    font-size: 18px;
}

/* ================================== National Page ================================= */

.national-destination-hero {
    background-image: url(../images/hero/national-mobile.webp);
    width: 100%;
    /* height: 100vh; */
    background-size: cover;
    padding-bottom: 70px;
    padding-top: 70px;
}

.national-list-bx > div{
    width:100%;
}
.destination-row .desti-img {
    height: auto;
}

#national-destination{
    background: #f5f5f5;
}

.destination-row .national-list-bx > div {
    width: 100%;
    background: white;
    margin-bottom: 20px;
    border-radius: 8px;
}

.destination-row .desti-main {
    padding: 15px;
}

.destination-row .content-section p {
    font-size: 16px;
    margin-top: 5px !important;
    text-align: left;
}

.destination-row .content-section h1 {
    font-size: 32px;
}
.national-list-bx .mt-2 {
    margin-top: 0px !important;
}
.banner-section .btn-primary1{
    margin-top: 20px;
}

.ptb-40-30{
    padding-top: 20px;
    padding-bottom: 35px;
}

.image-section img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.dream-content h2 {
    font-size: 24px;
}
.dream-section .feature h3 {
    font-size: 18px;

}

.dream-section .content-section {
    flex: 1;
    min-width: 100%;
    padding: 0px;
    padding-top: 30px;
}
.dream-section .feature_bx > div {
    width: calc(50% - 10px);
    margin-top: 0px;
}

.dream-section .content-section .feature p {
    font-size: 14px;
    text-align: left;
}
.dream-section .feature img {
    width: 30px;
}
.dream-section .btn-custom{
    margin:10px auto;
}
.need-help-row {
 flex-wrap: wrap;
}

.need-help-row > div {
    width: 100%;;
}

.need-form-bx h2 {
    font-size: 32px;
}

.banner-section1 {

    height: 300px;

}
.review-section .review-count{
    display: none;
}

.review-h h2 {
    font-size: 30px;
}

.review-h p {
    font-size: 14px;
    margin-bottom: 0;
}
.review-h{
    margin-bottom: 0!important;
}
.review-container p{
    font-size: 14px;;
}

/* ========================= International Destination Page ================================ */


.i-national-destination-hero {
    background-image: url(../images/hero/international-mobile.webp);
     width: 100%;
    /* height: 100vh; */
    background-size: cover;
    padding-bottom:70px;
    padding-top: 70px;
}  
  
.about-contennt p {
    margin-bottom: 0;;
}

.fs-64 {
    font-size: 32px;
}

.banner-sections{
    width:100%;
}
.international-main .banner-section {
    background-image: url(../images/dubai/dubai-mobile.webp) !important;
}

.international-main .btn-primary1{
    height: 38px;;
}
.mob-pad{
    padding-bottom: 30px;
}

/* ========================================== Corporate CsS==================================== */

.corporate-banner {
    background-image: url(../images/hero/corporate-mobile.webp);
    width: 100%;
    background-size: cover;
    padding-bottom: 70px;
    padding-top: 70px;
}

.usp-list li {
    margin: 15px 0px;
    font-size: 14px;
    font-weight: 500;
}
.usp-list li > img {
    margin-right: 10px;
    width: 20px;
}

span.width-fit {
    width: 140px;
}

.question-bx img {
    margin-left: 15px;
    width: 20px;
}
.btn-custom{
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    height: 40px;
    width: fit-content;
}

.btn-custom-outline {
    height: 40px;
    line-height: 32px;
    font-size: 12px;
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
}
.usp-section-bx .content-section{
    margin-top: 20px;;
}
.usp-section-bx .content-section p{
    margin-bottom: 0!important;
}

.national-inter-section .tabs-list {
    margin-bottom: 30px;
}
#corporate-main .national-list-bx > div {
    margin-bottom: 20px;
    background: white;
        border-radius: 8px;
}

#corporate-main .national-list-bx > div .mt-2{
    margin:0;
}

.tooltip-text{
    width:auto;
    font-size: 8px;
}

.national-inter-section .nav-pills .nav-link {
    font-size: 14px;
}

.banner-section1 .btn-primary1 {
    font-size: 12x;
    margin-top: 15px;
    height: 35px;
}

.international-main .banner-section {
    background-size: cover;
    height: auto;
    border-radius: 10px;
    padding: 50px 0px!important;

}



.national-inter-section .banner-section {
    padding: 40px 0px;
    border-radius: 10px;
}

/* ================================= Honeymoon Banner ========================================/ */

.honeymoon-banner {
    background-image: url(../images/hero/honeymoon-mobile.webp);
    width: 100%;
    background-size: cover;
    padding-bottom: 70px;
    padding-top: 70px;
    background-position: right;
}

#honeymoon-main .national-list-bx > div {
    margin-bottom: 20px;
    background: white;
    border-radius: 8px;
}

.batch-info {
    /* padding: 4px 20px; */
    /* width: fit-content; */
    /* background-color: #EE4C49; */
    /* position: absolute; */
    /* top: 5%; */
    right: 10px;
    width: 152px;
    /* clip-path: polygon(100% 0%, 87% 50%, 100% 100%, 0 100%, 0% 50%, 0 0); */
    /* border-radius: 2px; */
}

/* .desti-img {
    height: 300px;
} */
.honeymoon-cta .banner-content h1 {
    font-size: 32px !important;
    margin-bottom: 10px !important;
    margin-top: 10px 
}
.banner-content p {
    font-size: 15px;
}

.honeymoon_cta .banner-content {

    padding: 20px;

}

.honeymoon_cta{

    padding: 20px!important;

}

/* ================= Kashmir Package ======================== */


.kashmir-hero {
    background-image: url(../images/kashmir/mobile-banner.webp);
    width: 100%;
    background-size: cover;
    padding-bottom: 70px;
    padding-top: 70px;
}

.parent-package .max-800 {
    width: 100%;
}

.feature-list {
    padding-left: 0px;
}
.location-list li {
    font-size: 12px;
}

.tour-package > ul {
    display: flex
;
    flex-wrap: nowrap;
}

.tour-package ul li button {
    padding: 5px 10px;
    font-size: 12px;;
    background-color: #fff!important;
}

.tour-package ul li .active {
    padding: 5px 10px;
}

.tour-package ul li .rev-btn {
    padding: 5px 10px;
    font-size: 11px;
    background: #fff;
}

.tour-package > ul li {
    margin: 0px 4px;
}

.locaton-items img {
    margin-right: 6px;
    width: 10px;
}
.location-list .locaton-items {
    margin-left: 10px;
}

.tour-package{
    padding-top: 20px!important;
}
.basic-hotel-features {
    padding-top: 0px;
}

.feature-list ul li {
    margin: 0px 0px 6px 0px !important;
    font-size: 14px;
    font-weight: 400;
}

.feature-list ul li span {
    width: 223px;
    font-size: 14px;
    font-weight: 500;
}

.feature-list ul li span {
    width: 130px;
    font-size: 14px;
    font-weight: 600;
}

.tour-package .btn-primary1 {
    background-color: #ff5a5f;
    border: none;
    font-weight: 500;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    margin-top: 20px;
    width: fit-content;
    height: 40px;
}
.ptb-50 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.table-of-row {
    display: flex
;
    justify-content: space-between;
    padding-top: 0 !important;
}

.table-of-row > div {
  /* width:calc(50% - 5px) */
}

.table-of-row .feature-media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 10px;
}

.max-400 h2 {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 0px;
}

.table-contents a {
    font-size: 10px;
    margin: 5px 0px;
    height: 30px;
    line-height: 3;
    width: 110px;
    padding: 10px 0px;
}

.max-400 {
    background-color: #F1F1F1;
    border-radius: 10px;
    width:35%;
    margin-left: 13px;
}

.feature-media {
    width: 65%;
}

.tour-package .play-btn::before {
    content: '';
    width: 100px;
    height: 100px;

    z-index: -1;
    border-radius: 15px;

}

.tour-package .play-btn {
    width: 45px;
    height: 45px;
}
.schedule-timing {
    font-size: 14px;
    margin-bottom: 10px;
}

.schedule-items .sche-details {
    font-size: 12px;
}

.schedule-items h3 {
    font-size: 16px;
    margin-bottom: 10px !important;
}

p.schedule-timing img {
    margin-right: 5px;
    width: 13px;
}

.schedule-list .schedule-items {
    /* padding-top: 20px; */
}
.cancellation-policy-bx a {
    font-size: 12px;
}
.btn-primary1 {
    background-color: #ff5a5f;
    border: none;
    font-weight: 500;
    color: white;
    font-size: 12px;
    border-radius: 8px;
    margin-top: 40px;
    width: 130px;
    height: 35px;
}

.about-boxes .accordion-button {
    font-size: 20px;

}

.about-boxes .about-items p {
    font-size: 14px;
    text-align: justify;
}

.about-boxes .about-items h2 {
    font-size: 16px;
}

.map-section .heading {
    font-size: 32px;
}

.travleler-content h2 {
    font-size: 32px;
}

.map-box {
    padding-top: 20px;
}
.travleler-content p {
    font-size: 14px;
}


.travelers-testi h3 {
    font-size: 16px;
}

.travelers-testi .testi-description {
    font-size: 12px;
    font-weight: 400;
}

.travelers-testi .location-para {
    font-size: 10px;
}
.review-lists .swiper{
    padding-top: 0!important;
}

.travelers-testi img {
    margin-bottom: 10px;
    width: 85px;
}

.btn-review {
    font-size: 13px;
    padding: 6px 15px;
    border-radius: 50px;
}


.navpage .swiper-button-prev{
    display: none;;
}

.navpage .swiper-button-next{
    display: none;
}

.review-lists .swiper-slide {
    border: 1px solid #EBEBEB;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.navpage {

    padding-top: 20px;
}

.review-lists.p-relative {
    padding-bottom: 40px;
}

.tour-package .btn-primary1 {
    background-color: #ff5a5f;
    border: none;
    font-weight: 500;
    color: white;
    font-size: 12px;
    border-radius: 8px;
    margin-top: 20px;
    width: fit-content;
    height: 35px;
}

.honeymoon-usp .usp-list li > img {
    width: 20px;
}

.international-banner .banner-content {
    max-width: 100%;
    padding-left: 12px;
}
.international-banner p.i-para {
    font-size: 15px;
    margin-bottom: 0px;
}

.international-banner p.i-para1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 13px;
}
.international-banner .banner-section {
    background-size: cover;
    height: 300px;
    width: 100%;
}
.international-banner .banner-content h1 {
    font-size: 32px;
}


.honeymoon-cta .banner-section {
    padding: 50px 0px;
}

/* =============================== Dubai========================= */
    .dubai-hero {
        padding-bottom: 30px;
        padding-top: 70px;
    }

.dubai-banner .banner-section {
    background-size: cover;
    height: 300px;
    width: 100%;
}

.instagram-section{
    overflow: hidden;
}
section.national-dest {
    overflow: hidden;
}

.footer-para {
    font-size: 14px;
}
.footer ul li a {
    font-size: 14px;
}
.form-pop p {
    font-size: 12px;
    opacity: 56%;
    text-align: center;
}

.form-pop h2 {
    font-size: 18px;
}
.form-pop input {
    padding: 8px 10px;
    border: 1px solid #949494;
    border-radius: 4px;
}

.form-pop .submit-btn {
    height: 34px;
    width: 122px;
    font-size: 14px;
}

.popup-modal .modal-body {
    padding: 15px;
}

.popup-modal .btn-close {
    height: 20px;
    right: 13px;
    top: 13px;
    width: 20px;
    font-size: 8px;
}

.onlyl-mobile{
    padding-bottom: 30px;
}

.location-list .locaton-items {
    font-size: 14px;
}

.check-heading {
    font-size: 32px;
}

.checkinbox label {
    font-size: 16px;
}

.checkin-footer p {
    font-size: 15px;
    margin-bottom: 0;
}

.social-list-icons li a {
    height: 25px;
    width: 25px;

}

.social-list-icons li a img {
    width: 13px;
}

.social-list-icons li {
    margin: 0px 4px;
}
.checkinbox .form-text {
    font-size: 11px;
}
.checkinbox input {
    height: 40px;
}
.check-para {
    font-size: 16px;
}

.checkinbox select {
    height: 40px;
    font-size: 11px;
}

.checkinbox .btn-submit {
    height: 40px;
    font-size: 14px;
}

.guest-check::before {

    width: 64px;

}
.checkinbox #uploadId {
    line-height: 26px;
    font-size: 11px;
}
.check-f-logo img {
    width: 195px;
}
.check-f-logo p {
    font-size: 12px;
    letter-spacing: 5px;
    margin-top: 15px;
}
.check-footer {
    height: 180px;

}

.col-md-12.check-in img {
    width: 200px;
}
.check-in-hero {
    padding-bottom: 100px;
    padding-top: 100px;
}

.check-heading {
    font-size: 24px;
}

.check-para {
    color: #575757;
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 0;
}

.checkinbox label {
    font-size: 12px;
}

.checkinbox .form-container {
    margin: 25px auto;
    padding: 15px;
}
.person-heading {
    font-size: 16px;
}

.person1 {
    /* padding: 10px; */
}

.desti-info p {
    text-align: justify;
}

.checkinbox .btn-primary {
    margin-top: 0;
    font-size: 10px;
    padding: 0px 10px !important;
    height: 40px;
}

.response-main{
    overflow: auto;
}
.checkinbox .p-id {
    line-height: 27px;
}

.ab-page .image-stack img {
    height: auto;
}
.ab-info h2 {
    font-size: 22px;
}

.ab-info h3 {
    font-size: 16px;
}

.schedule-list .schedule-items {
    padding-top: 3px;
}
.checkinbox input {
    font-size: 12px;
}

.country-num {
    left: 0px;
    font-size: 12px;
    height: 40px;
    width: 40px;
}

.pl-20 {
    padding-left: 45px;
}
.person-field h5{
    font-size: 15px;
}
.kid-field h5{
     font-size: 15px;

}
.checkinbox .btn-outline-primary{
    font-size: 12px;;
}
.checkinbox .btn-outline-secondary {
    font-size: 12px;
    padding: 4px;
}

.check-corporate .country-num {
    left: 13px;
}


.explore-more-btn {
    font-size: 14px;
    padding: 5px 10px;
    width: auto;
    height: auto;
}



.pt-80 {
    padding-top: 25px !important;
}

.mini-container {
    max-width: 100%;
}


.container {
    max-width: 100%;
}

.national-dest .swiper {
    padding-bottom: 40px;
}

.explore-more-btn img {
    margin-left: 5px;
    width: 12px;
}

.stars img {
    width: 100px;
}

.g_reviews .review-text {
    font-size: 14px;
}
}
@media(max-width:380px){
    .banner-section {
        height: 300px;
    }

    .checkinbox label {
        font-size: 12px;
    }
    .btn-primary1 {
        font-size: 12px;
    }
    .tour-package .btn-primary1 {
        background-color: #ff5a5f;
        border: none;
        font-weight: 500;
        color: white;
        font-size: 12px;
        border-radius: 8px;
        margin-top: 20px;
        width: fit-content;
        height: 35px;
    }
    .feature-title {
        font-size: 10px;
    }

    .feature-list ul li span {
        width: 107px;
        font-size: 12px;
    }
    .feature-list ul li {
        font-size: 12px;
    }
  
   
    .heading {
        font-size: 22px;
        line-height: 1;
    }

    .dubai-packages .what-makes-us {
    padding-bottom: 30px;
}
    
 .dubai-packages .what-makes-us {
    padding: 30px 0;
    padding-bottom: 30px;
}  

.dubai-packages .benefits-grid {
    margin-bottom: 30px;
}
} 